.media--fullwidth {
  width: 100%;
  height: auto;
}
nav>h4::before {
  content: "";
  display: inline-block;
  width: 50px;  
  height: 50px;  
  background-image: url("../../../public/icones/book.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}
nav>ul>li>a::before {
    content: "";
  display: inline-block;
  width: 50px;  
  height: 50px;  
  background-image: url("../../../public/icones/bag-plus.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}
nav>ul>li>ul>li>a::before {
  content: "";
  display: inline-block;
  width: 50px;  
  height: 50px;  
  background-image: url("../../../public/icones/archive.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}